@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --normal-font: "Roboto", sans-serif;
  --korea-font: "Noto Sans KR", sans-serif;
  --japan-font: "Noto Sans JP", sans-serif;
}

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: "Roboto Mono", monospace;
}

.wrapper {
  padding: 100px 0;
}

.wrapper .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;

  margin: 0 auto;

  padding: 20px;
  border-radius: 4px;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.wrapper .box .title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box .greet .button {
  width: 200px;
  height: 45px;

  border: 0;
  border-radius: 4px;

  font-size: 1rem;

  color: white;
  background-color: #2d3436;
}

.box .greet .button:hover {
  cursor: pointer;

  color: white;
  background-color: #636e72;
}

.box .greet .message {
  margin: 30px 0 20px 0;
}

.greet .message .message-line {
  margin-bottom: 10px;

  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}

/* Desktop */
@media (min-width: 64em) {
}

/* Tablet and Mobile  */
@media (max-width: 63.9375em) {
  .wrapper .box {
    width: 90%;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */
@media (max-width: 46.1875em) {
}
